# APT Backports Source
# vim: set ft=debsources :
# {{ ansible_managed }}

deb https://deb.debian.org/debian {{ ansible_distribution_release }}-backports main contrib non-free
non-free-firmware
{% if apt_include_source | default(false, true) %}
deb-src https://deb.debian.org/debian {{ ansible_distribution_release }}-backports main contrib
non-free non-free-firmware
{% endif %}

