# APT Sources
# {{ ansible_managed }}

# Main
deb https://deb.debian.org/debian {{ apt_edition | default(ansible_distribution_release, true) }} main contrib non-free
{% if apt_include_source | default(false, true) %}
deb-src https://deb.debian.org/debian {{ apt_edition | default(ansible_distribution_release, true) }} main contrib non-free
{% endif %}

# Security
deb https://deb.debian.org/debian-security {{ apt_edition | default(ansible_distribution_release, true) }}-security main contrib non-free
{% if apt_include_source | default(False, True) %}
deb-src https://deb.debian.org/debian-security {{ apt_edition | default(ansible_distribution_release, true) }}-security main contrib non-free
{% endif %}

# Updates
deb https://deb.debian.org/debian {{ apt_edition | default(ansible_distribution_release, true) }}-updates main contrib non-free
{% if apt_include_source | default(False, True) %}
deb-src https://deb.debian.org/debian {{ apt_edition | default(ansible_distribution_release, true) }}-updates main contrib non-free
{% endif %}

